<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trail Tents</title>
    <link rel="icon" href= "/FrontEnd/assets/images/logo.png"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img id="logo_img" src="/FrontEnd/assets/images/logo.png" alt="TrailTents_logo">
                <a href="#main_content">Trail Tents</a>
            </div>
            <div class="nav-right">
                <ul class="nav-links">
                    <li id="nav-links_item"><a href="#services">Services</a></li>
                    <li id="nav-links_item"><a href="#about">About</a></li>
                    <li id="nav-links_item"><a href="#contact">Contact</a></li>
                </ul>
                <button id="login-btn">Login</button>
            </div>

        </nav>
    </header>
    <main id="main_content">
        <section id="hero">
            <div class="hero-content">
                <div class="hero-content_heading">
                    <h2>Welcome to</h2> <h2 id="name_tt">Trail Tents</h2>
                    <p id="paragraph_text">Escape to nature and explore the great outdoors with us!</p>
                </div>
                <div id="hero-img_container">
                    <img id="hero-content_img" src="/TrailTents/FrontEnd/assets/images/26203537.jpg" alt="">
                </div>
            </div>
        </section>
    
        <section id="services">
            <div class="section-content">
                <h2>Our Services</h2>
                <img src="/FrontEnd//assets/images/istockphoto-147953682-612x612.jpg" alt="">
                <p>Describe the services you offer to your clients.</p>
            </div>
        </section>
    
        <section id="about">
            <div class="section-content">
                <h2>About Us</h2>
                <p>Here you can tell the story of your business, its history, values, and team.</p>
            </div>
        </section>
    
        <section id="contact">
            <div class="section-content">
                <h2>Contact</h2>
                <img src="/FrontEnd//assets/images/istockphoto-147953682-612x612.jpg" alt="">
                <p>All contacts.</p>
            </div>
        </section>
    </main>

    <footer>
        <ul class="footer-links">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
        </ul>
        <!-- Additional footer content goes here -->
    </footer>

    <script src="script.js"></script> <!-- Link your JavaScript file -->
</body>
</html>
